@model HammondsIBMS_2.ViewModels.Contract.EditRentedContractVM
@using (Html.BeginForm())
{ 
    <fieldset>
        @Html.HiddenFor(o => o.CustomerAccountId)
        @Html.HiddenFor(o => o.OldPaymentPeriodId)
        @Html.ValidationSummary(true)
        <table class="edit-table">
            <tr>
                <td class="label-width">
                    @Html.LabelFor(o => o.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(o => o.StartDate)<br />
                    @Html.ValidationMessageFor(o => o.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.MonthlyCharge)
                </td>
                <td>
                    @Html.DisplayFor(o => o.MonthlyCharge)
                    @Html.ValidationMessageFor(o => o.MonthlyCharge)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.PaymentPeriodId)
                </td>
                <td>
                    @Html.EditorFor(o => o.PaymentPeriodId)
                    @Html.ValidationMessageFor(o => o.PaymentPeriodId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.PeriodPaymentAmount)
                </td>
                <td>
                    <div id="PeriodPaymentAmount" >
                        @Html.DisplayFor(o => o.PeriodPaymentAmount)<br />
                        @Html.ValidationMessageFor(o => o.PeriodPaymentAmount)
                    </div>
                </td>
            </tr>
        </table>
        @using (Html.Container("Status"))
        {
            <table class="edit-table">
                <tr>
                    <td class="label-width">
                        @Html.LabelFor(o => o.ContractStatus)
                    </td>
                    <td>
                        <div id="ContractStatus" >
                            @Html.DisplayFor(o => o.ContractStatus)<br />
                        </div>
                    </td>
                </tr>
            </table>
        }
    </fieldset>
    <p>
        @Html.FormSubmitButton()
        @Html.FormCancelButton()
    </p>
}
<script type="text/javascript">
    $(function() {

        $('#ContractTypeId').live('change', function(event, e) {
            CallActionAndUpdate("@(Url.Action("_ChangeContractType"))");
        });

        $('#StartDate,#ContractLengthInMonths,#Charge').live('change', function(event, e) {
            if($('#ContractTypeId').val()>-1)
                CallActionAndUpdate("@(Url.Action("_ChangeDateOrDuration"))"); 
        });
        $('#PaymentPeriodId').die('change');
        $('#PaymentPeriodId').live('change', function(event, e) {
            CallActionAndUpdate("@Url.Action("_ChangeRentalPaymentPeriod")");
        });
        
        function CallActionAndUpdate(action) {
            Get(action, Update);
        }
        
        function Get(action,func) {
             $.get(action, $('form').serialize(), function(result) {
                func(result);
            });
        }
        
        function Update(result) {

            //$('#ContractLengthInMonths').data('tTextBox').value(result.ContractLengthInMonths);
            //$('#Charge').data('tTextBox').value(result.Charge);
            //$('#ExpiryDate').html(Date.parseJSON(result.ExpiryDate).format('d/m/Y'));
            $('#PeriodPaymentAmount').html(accounting.formatMoney(result.PeriodPaymentAmount));
            //$('#PaymentPeriod_PeriodInMonths').val(result.PaymentPeriod.PeriodInMonths);
            //$('#PaymentPeriod_Description').val(result.PaymentPeriod.Description);
            $('#ContractStatus').html(result.ContractStatus.Description);
            //$('#TimeToExpiry').html(result.TimeToExpiry);
        }
    });
</script>
