@model HammondsIBMS_2.ViewModels.ModelView.ModelVM
<table class="table table-striped table-condensed table-bordered">
     <tr>
        <td>
            @Html.LabelFor(model => model.ModelCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.ModelCode)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(model => model.Manufacturer)
        </td>
    </tr>
   
    <tr>
        <td>
            @Html.LabelFor(model => model.Category)
        </td>
        <td>
            @Html.DisplayFor(model => model.Category)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Size)
        </td>
        <td>
            @Html.DisplayFor(model => model.Size)
        </td>
    </tr>
      <tr>
        <td>
            @Html.LabelFor(model => model.RentalPrice)
        </td>
        <td>
            @Html.DisplayFor(model => model.RentalPrice)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.RetailPrice)
        </td>
        <td>
            @Html.DisplayFor(model => model.RetailPrice)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.SpainRetailPrice)
        </td>
        <td>
            @Html.DisplayFor(model => model.SpainRetailPrice)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Summary)
        </td>
        <td>
            @Html.DisplayFor(model => model.Summary)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.IsObsolete)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsObsolete)
        </td>
    </tr>
  
</table>
