@model HammondsIBMS_Domain.Values.BankDetails
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.BankName)
        </td>
        <td>
            @Html.DisplayFor(model => model.BankName)
        </td>
    </tr>
    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.AccountHolder)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccountHolder)
        </td>
    </tr>
    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.SortCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.SortCode)
        </td>
    </tr>
    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccountNo)
        </td>
    </tr>
</table>
