@using HammondsIBMS_2.Helpers.Html
@model HammondsIBMS_2.ViewModels.ModelView.CloseStockInvoiceVM
@using (Html.BeginForm())
{
    <div style="height: 130px">
        @Html.HiddenFor(m => m.StockInvoiceId)
        <div class="alert">
            <div style="text-align: center;">
                <h4 class="error">@Html.DisplayFor(m => m.DeleteMessage)</h4>
                <h4>@Html.DisplayFor(m => m.Prompt)</h4>
            </div>
        </div>
        <div style="text-align: center">
            @Html.FormSubmitButton(new ButtonParameters(ButtonIcon.Ok, ButtonIconColor.White, ButtonRole.Danger, ButtonHeight.Normal))
            @Html.FormCancelButton()
        </div>
    </div>
}

