@model HammondsIBMS_2.ViewModels.StockInvoice.NewStockInvoiceVM
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <table class='edit-table'>
            <tr>
                <td>
                    @Html.LabelFor(model => model.InvoiceDate)
                </td>
                <td>
                    @Html.EditorFor(model => model.InvoiceDate)<br />
                    @Html.ValidationMessageFor(model => model.InvoiceDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.InvoiceRef)
                </td>
                <td>
                    @Html.EditorFor(model => model.InvoiceRef)<br />
                    @Html.ValidationMessageFor(model => model.InvoiceRef)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SupplierId)
                </td>
                <td>
                    @Html.EditorFor(model => model.SupplierId)
                    @Html.ValidationMessageFor(model => model.SupplierId)
                </td>
            </tr>
        </table>
    </fieldset>
    <div>
        @Html.FormSubmitButton() @Html.FormCancelButton()
    </div>
}
