@model HammondsIBMS_2.ViewModels.Suppliers.SupplierVM
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.SupplierId)
    {
        Html.Telerik().TabStrip().Name("EditDetailsTabStrip")
            .Effects(fx => fx.Toggle()
               .Opacity()
               .OpenDuration(200)
               .CloseDuration(200)
               )
            .Items(tabsrip =>
        {
            tabsrip.Add()
                .Text("Main")
                .Content(@<text>
                                    <fieldset>
                                    <table class='edit-table'>
            
                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.Name)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.Name)<br />
                                                @Html.ValidationMessageFor(model => model.Name)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.MainContact)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.MainContact)<br />
                                                @Html.ValidationMessageFor(model => model.MainContact)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.ExchangeRateId)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ExchangeRateId)
                                                @Html.ValidationMessageFor(model => model.ExchangeRateId)
                                            </td>
                                        </tr>
                                    </table>
                                    </fieldset>
                            </text>);
            tabsrip.Add()
                .Text("Contact Info")
                .Content(@<text> <fieldset>@Html.EditorFor(model => model.ContactInfo, "_ContactInfo")</fieldset></text>);
            tabsrip.Add()
                .Text("Address")
                .Content(@<text> <fieldset>@Html.EditorFor(m => m.Address, "_Address")</fieldset></text>);
        })
        .SelectedIndex(0)
        .HtmlAttributes(new { style = "width:850px" })
        .ClientEvents(events=>events.OnSelect("OnContentLoad"))
        .Render();
    }<br />
   
    <div>
        @Html.FormSubmitButton() @Html.FormCancelButton()
    </div>
}
<script type="text/javascript">
    function OnContentLoad() {
        ClearModalWindowSize();
    }
</script>