@model int
<div style="width: 500px">
    <fieldset>
        <div id="_AccountStockFilterBox">
            @Html.Hidden("FilterBoxStockId", Model)

            @Html.Partial("_AccountStockSelector")
            <br>
            <div style="height: 70px">
                <div id="FilterUnitDetails">
                    @if (Model != 0)
                    {
                        @Html.Action("_GetStock", new { id = Model });

                    }
                    else
                    { @:
                        <table>
                            <tr>
                                <td style="text-align: center">
                                    @Html.Badge(BadgeType.Warning, new IconParameters(ButtonIcon.Warning, ButtonIconColor.White), "No Selection Made")
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <div id="inAccount" class="error" style="display: none">
                    @Html.Badge(BadgeType.Important, new IconParameters(ButtonIcon.Warning, ButtonIconColor.White), "Stock is already allotted to another Account !")
                </div>
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript">

    $(function() {
        $('#_AccountStockSelector').live("selectionChanged", function(event, data) {
            ContractUnitStockComboBoxChanged(data);
        });
    });

    function ContractUnitStockComboBoxChanged(e) {

        $("[name='FilterBoxStockId']").val(e.value);

        $.get('@Url.Action("_GetStock", "Account")', { id: e.value }, function (data) {
            $('#FilterUnitDetails').slideUp('fast', function () { $(this).html(data).slideDown('fast'); });
            $('#_AccountStockFilterBox').trigger('selectionChanged', { value: e.value });

        });
    }


</script>
