@model HammondsIBMS_Domain.Entities.Contracts.ServiceContract
@Html.HiddenFor(o => o.ContractId)
@Html.HiddenFor(o => o.CustomerAccountId)
@Html.HiddenFor(o => o.PaymentPeriod.PeriodInMonths)
@Html.HiddenFor(o => o.PaymentPeriod.Description)
@Html.ValidationSummary(false)
<fieldset>
    @using (Html.Container("Contract"))
    {
        <table class="edit-table">
            <tr>
                <td style="width: 150px">
                    @Html.LabelFor(o => o.ContractTypeId)
                </td>
                <td>
                    @Html.EditorFor(o => o.ContractTypeId)
                    @Html.ValidationMessageFor(o => o.ContractTypeId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.StartDate)
                </td>
                <td>
                    @Html.EditorFor(o => o.StartDate)<br />
                    @Html.ValidationMessageFor(o => o.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.ContractLengthInMonths)
                </td>
                <td>
                    @Html.EditorFor(o => o.ContractLengthInMonths)
                    @Html.ValidationMessageFor(o => o.ContractLengthInMonths)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.ExpiryDate)
                </td>
                <td>
                    <div id="ExpiryDate">
                        @Html.DisplayFor(o => o.ExpiryDate)<br />
                        @Html.ValidationMessageFor(o => o.ExpiryDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.Charge)
                </td>
                <td>
                    @Html.EditorFor(o => o.Charge)
                    @Html.ValidationMessageFor(o => o.Charge)
                </td>
            </tr>
        </table>
    }
    @using (Html.Container("Payment Period Details"))
    {
        <table class="edit-table">
            <tr>
                <td style="width: 150px">
                    @Html.LabelFor(o => o.PaymentPeriodId)
                </td>
                <td>
                    @Html.EditorFor(o => o.PaymentPeriodId)
                    @Html.ValidationMessageFor(o => o.PaymentPeriodId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.PeriodPaymentAmount)
                </td>
                <td>
                    <div id="PeriodPaymentAmount">
                        @Html.DisplayFor(o => o.PeriodPaymentAmount)<br />
                        @Html.ValidationMessageFor(o => o.PeriodPaymentAmount)
                    </div>
                </td>
            </tr>
        </table>
    }
    @using (Html.Container("Status"))
    {
        <table class="edit-table">
            <tr>
                <td style="width: 150px">
                    @Html.LabelFor(o => o.ContractStatus)
                </td>
                <td>
                    <div id="ContractStatus">
                        @Html.DisplayFor(o => o.ContractStatus)<br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.TimeToExpiry)
                </td>
                <td>
                    <div id="TimeToExpiry">
                        @Html.DisplayFor(o => o.TimeToExpiry)<br />
                    </div>
                </td>
            </tr>
        </table>
    }
</fieldset>
<script type="text/javascript">
    $(function() {

        $('#ContractTypeId').live('change', function(event, e) {
            CallActionAndUpdate('@Url.Action("_ChangeContractType")');
        });

        $('#StartDate,#ContractLengthInMonths,#Charge').live('change', function(event, e) {
            if($('#ContractTypeId').val()>-1)
                CallActionAndUpdate('@Url.Action("_ChangeDateOrDuration")'); 
        });
        $('#PaymentPeriodId').die('change');
        $('#PaymentPeriodId').live('change', function(event, e) {
            CallActionAndUpdate('@Url.Action("_ChangePaymentPeriod")');
        });
        
        function CallActionAndUpdate(action) {
            Get(action, Update);
        }
        
        function Get(action,func) {
             $.get(action, $('form').serialize(), function(result) {
                func(result);
            });
        }
        
        function Update(result) {

            $('#ContractLengthInMonths').data('tTextBox').value(result.ContractLengthInMonths);
            $('#Charge').data('tTextBox').value(result.Charge);
            $('#ExpiryDate').html(Date.parseJSON(result.ExpiryDate).format('d/m/Y'));
            $('#PeriodPaymentAmount').html(accounting.formatMoney(result.PeriodPaymentAmount));
            $('#PaymentPeriod_PeriodInMonths').val(result.PaymentPeriod.PeriodInMonths);
            $('#PaymentPeriod_Description').val(result.PaymentPeriod.Description);
            $('#ContractStatus').html(result.ContractStatus.Description);
            $('#TimeToExpiry').html(result.TimeToExpiry);
        }
    });
</script>
