@model HammondsIBMS_Domain.Values.ContactInfo
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Tel)
        </td>
        <td>
            @Html.DisplayFor(model => model.Tel)
        </td>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Tel2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Tel2)
        </td>
    </tr>

    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Mobile)
        </td>
        <td>
            @Html.DisplayFor(model => model.Mobile)
        </td>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Mobile2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Mobile2)
        </td>
    </tr>

    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Email2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email2)
        </td>
    </tr>

    <tr>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Fax)
        </td>
        <td>
            @Html.DisplayFor(model => model.Fax)
        </td>
        <td style="width: 150px">
            @Html.LabelFor(model => model.Fax2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Fax2)
        </td>
    </tr>
    <tr>

        <td style="width: 150px">
            @Html.LabelFor(model => model.Url)
        </td>
        <td>
            @Html.DisplayFor(model => model.Url)
        </td>
        
        <td style="width: 150px">

        </td>
        <td>

        </td>
    </tr>




</table>


